    h1 {
        text-decoration: underline;
        text-transform: uppercase;
        padding: 10px;
    }
    
    li {
        display: inline;
    }
    
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 10hv;
        background: #48bfe3;
        color: #ffffff;
    }
    
    .nav-link {
        list-style: none;
        width: 10%;
        justify-content: space-around;
        align-items: center;
    }